@import "tailwindcss";

@theme {
  --color-vender-blue: #002147;  /* Azul marino premium del logo */
  --color-vender-gold: #d4af37;  /* El dorado de la estrella y flecha */
  --color-vender-dark: #00152e;
}

:root {
  --background: #ffffff;
  --foreground: #002147;
}

body {
  background: var(--background);
  color: var(--foreground);
}